﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@{ 
    var app = System.Web.HttpContext.Current.Application;
    var ses = System.Web.HttpContext.Current.Session;

    HttpApplicationState 

    dynamic ApplicationBag = new UniversalBag(app);
    dynamic SessionBag = new UniversalBag(ses);

    int xApp = int.Parse(app["Number"].ToString());
    app["Number"] = xApp + 1;

    int xSes = int.Parse(ses["Number"].ToString());
    ses["Number"] = xSes + 1;


    string sApp = app["Nimi"].ToString();
    string dApp = app["Started"].ToString();

    string sSes = ses["Nimi"].ToString();
    string dSes = ses["Started"].ToString();
}
<p>App Number @xApp.ToString()</p>
<p>App Nimi @sApp</p>
<p>App Starditi @dApp</p>
<p />
<p>Ses Number @xSes.ToString()</p>
<p>Ses Nimi @sSes</p>
<p>Ses Starditi @dSes</p>

<p>ViewDatast: @ViewData["Nimi"]</p>
<p>ViewBagist: @ViewBag.Nimi - @(ViewBag.Number*7)</p>
<p />
@{ 
    int xTemp = int.Parse(TempData["Loendur"]?.ToString() ?? "0");
    TempData["Loendur"] = xTemp + 1;
}
<p>Temp-loendur: @xTemp.ToString()</p>
@{ 
    dynamic temp = new UniversalBag(TempData);
}
<p>Testmine universalBagi: @ViewBag.Temp.Nimi ja @temp.Vanus</p>
<p>Sama TempData-s: @TempData["Nimi"] ja @TempData["Vanus"]</p>